asgiref==3.2.10
cffi==1.14.0
Django==3.0.8
djangorestframework==3.11.0
gunicorn==20.0.4
install-requires==0.3.0
lockfile==0.12.2
Pillow==7.2.0
pycparser==2.20
PyJWT==1.7.1
python-dotenv==0.14.0
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
