{% load inlinecss %}
{% inlinecss  "css/bootstrap.min.css" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Recovery Email </title>
</head>
<body>
    <div style="font-size: medium;">
        <div class="jumbotron">
            <h5 class="display-4">Hello {{ user }} 👋!</h5>
            <p class="lead"> To initiate the password reset process for your DebtApp Notification Account, <br>
                Click the link below:</p>
            <hr class="my-4">
            <p>
             <i>  
                <a class="btn btn-primary btn-lg" href="href='{{reset_link}}'>{{reset_link}}" role="button">Click me!</a>
             </i>
            </p>
            <p class="font-italic font-weight-bold">  
                If clicking the link above doesn't work, please copy and paste the URL in a new browser
                tab instead.
            </p>
           
            <p> Or copy the Token below: {{reset_link}} </p>
        </div>

        <div class="container"> 
            <div class="row">
               <div> <p class="font-italic text-info"> Sincerely,</p> <div>
                <div><p class="font-weight-bolder text-primary"> DebtApp Team. </p><div>
            </div>
        </div>
    </div>
</body>
</html> 

{% endinlinecss %}

