
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Recovery Email </title>

    <style>
    
    </style>

</head>
<body>
        <div>
                <h5>Hello {{ user }} 👋!</h5>
            <div>
                <p> 
                To initiate the password reset process for your DebtApp Notification Account, <br>
                Click the link below:
                </p>
            </div
            
            <hr class="my-4">

            <div>
                <p>
                    <i>  
                        <a href="href='{{reset_link}}'>{{reset_link}}" role="button">Click me!</a>
                    </i>
                </p>
            </div>
           
           <div>
                <p>  
                If clicking the link above doesn't work, please copy and paste the URL in a new browser
                tab instead.
                </p>
           </div
           
            <p> Or copy the Token below: {{reset_link}} </p>
        </div>

        <div> 
               <div> <p class="font-italic text-info"> Sincerely,</p> <div>
                <div><p class="font-weight-bolder text-primary"> DebtApp Team. </p><div>
        </div>
    </div>
</body>
</html> 

