<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="font-size: medium;">
        <h2>Hello {{ user }}, </h2>
        <div>
            <p>
                To initiate the password reset process for your DebtApp Notification Account, <br>
                click the link below:
            </p>
        </div>
        <div>
            <i>   
                <a href='{{reset_link}}'>{{reset_link}}</a>
            </i>
        </div>
        <div>
            <p>
                If clicking the link above doesn't work, please copy and paste the URL in a new browser
                window instead.
            </p>
        </div>
        <div>Sincerely,</div>
        <div>The DebtApp Team</div>
    </div>
</body>
</html> 